<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Voting Webapp </h3>
    <ul>
      <li> Features</li>
    </ul>
    <p>A voting webapp that lets you create polls and vote on anybody else's polls. It contains login feature to create new polls. Registered users can also add options to their current polls and delete them.</p>
    <a class="project-link" href="https://pinto-point.glitch.me/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Nightlife Coordination </h3>
    <ul>
      <li> Features</li>
    </ul>
    <p>This lets you search the restaurants around a location and view how many people wish to come to a restaurant. And if you are signed in using twitter, you can indicate that you are willing to go to one. You can anytime cancel your going to a restaurant.</p>
    <a class="project-link" href="https://http://right-parrot.glitch.me/">Check it out</a>
  </div>
</div>
